templates/temp
static/service-worker.js
__pycache__/*
__pycache__


# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# production
/build

# env files (can opt-in for committing if needed)
.env*

.vscode