{% extends 'layout.html' %}
{% block style %}
<style>
    .modal:nth-of-type(even){z-index: 1051!important;}
    .modal-backdrop.show:nth-of-type(even){z-index: 1052!important;}
    .a-flex{
        display: flex; justify-content: space-between; overflow-x: auto;
    }
    .a-flex>div, .a-flex>label{
        flex-basis: 38%; flex-shrink: 0;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    
    <ol class="breadcrumb">
        <li>
            <a href="{{ url_for('admin.dashboard' ) }}">Dashboard</a>
        </li>
        <li class="active">Manage Campus</li>
    </ol>
    
    <div class="col-md-12">
        <a href="#campusCRUD" data-toggle="modal" data-action="add">
            <div class="panel z-depth-1">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <i class="fa fa-graduation-cap fa-4x"></i>
                        </div>
                        <div class="col-xs-9">
                            <h5><b>Add Campus</b></h5>
                            <p>Add New Campus</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-12">
        <div class="panel z-depth-1">
            <div class="panel-body">
                <b>{{pageTitle}}</b>
                <hr>
                <div class="table-responsive">
                    <table id="a_history" class="table table-bordered table-hover" style="width:100%">
                        <thead>
                        <tr>
                            <th>S/N</th><th>Name</th><th>School</th>
                            <th>Date</th><th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if campus %}
                        {% for camp in campus %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{camp.name}}</td>
                            <td>{{camp.parent.name}}</td>
                            <td>{{camp.updated_at.strftime("%a, %d %b %Y at %H:%M")}}</td>
                            <td class="text-right">
                                <div class="btn-group" style="width: 80px;">
                                    <a class="btn btn-primary btn-sm" href="#campusCRUD" data-toggle="modal" data-action="update" onclick="editSchool('{{camp.id}}')">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="#deleteModal" data-toggle="modal" data-id="{{camp.id}}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {%else%}
                        <tr>No record found</tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel z-depth-1 about">
            <div class="panel-body">
                <b>About Us</b>
                <hr>
                <p class="text-center" id="about">
                    <b>{{siteName()[0]}} ({{siteName()[1]}})</b><br><br>
                    Design and Developed by
                    <a href="#studentListModal" data-toggle="modal"><b>HNDII 2023/2024</b></a>
                    Set and Supervised by
                    <b>Engr. Abdulwakil Adekunle Kasali.</b> All rights reserved.
                    For Enquiry, call <a href="tel:+2347030337708" class="text-primary">+2347030337708</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<div id="campusCRUD" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add New Campus</h4>
            </div>
            <div class="modal-body" id="CampusData">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.app-name').text("{{pageTitle}}");
        $('.fa-power-off').hide();
        $('#a_history').DataTable();
        $('#a_history_wrapper').addClass('table-responsive');
    });

    $("#deleteModal").on('show.bs.modal', function(event){
        var ele = $(event.relatedTarget);
        $(this).attr('style', ''); $(this).find('.modal-dialog').attr('style', '');
        $(this).find('.modal-footer').show();
        $(this).find('.modal-title').text("Confirmation");
        $(this).find('.modal-body').html(`
        Are you sure you want to delete?<br/><br/>
        <b>The following may be deleted as well:</b>
        <ol style="padding-left: 3rem">
            <li>And its Building</li>
        </ol>
        <b>📢 This Action can not be undo</b>`);
        $(this).find('.modal-footer').html(
            '<form method="post">'+
                '<input type="hidden" name="csrf_token" value="{{csrf_token()}}">'+
                '<input type="hidden" name="id" value="'+ele.data('id')+'">'+
                '<button class="btn btn-danger" data-dismiss="modal">NO</button> '+
                '<button class="btn btn-primary" type="submit" name="deleteSchool">YES</button>'+
            '</form>');
    });
    $("#campusCRUD").on('show.bs.modal', function(event){
        var ele = $(event.relatedTarget);
        var action = ele.data('action');
        $(this).attr('style', ''); $(this).find('.modal-dialog').attr('style', 'margin-top: 15%');
        if(action=="update"){
            $(this).find('.modal-title').text("Update Campus");
            $(this).find('.modal-footer').html(''); $(this).find('.modal-footer').hide();
        }else{
            $(this).find('.modal-title').text("Add New Campus");
            $(this).find('#CampusData').html(
                `
                <form class="" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div class="form-group">
                        <label class="required">Campus name:</label>
                        <input type="text" name="campus" class="form-control" placeholder="Enter Campus name" required />
                    </div>
                    <div class="form-group">
                        <label class="required">School:</label>
                        <select name="parent_id" class="form-control">
                            <option value="">Select School</option>
                            {% for sch in school %}
                                <option value="{{sch.id}}">{{sch.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button name="addCampus" class="btn btn-primary btn-block" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
                `
            )
        }
    });
    function editCampus(id){
        $.ajax({ type: 'get', url: '', data:'uid='+id+'&editCampus=1',
            success: function(data){
                data?$('#CampusData').html(data):'';
            }
        });
    }
</script>
{% endblock %}