{% extends 'layout.html' %} {% block content %}
<div class="row g-3">
  <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
    <a href="">
      <div
        class="card rounded-4 shadow border-0 border-start border-bottom border-3 border-success"
      >
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <span class="fa-stack fs-4" style="margin-left: -5px">
              <i class="fa fa-circle fa-stack-2x text-success"></i>
              <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="fs-1 m-0 text-success fw-bold">2</h2>
          </div>
          <p class="card-text fw-bold mb-0">Successful Trip</p>
          <small class="text-muted small">View total successful trip</small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
    <a href="">
      <div
        class="card rounded-4 shadow border-0 border-start border-bottom border-3 border-danger"
      >
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <span class="fa-stack fs-4" style="margin-left: -5px">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="fs-1 m-0 text-danger fw-bold">3</h2>
          </div>
          <p class="card-text fw-bold mb-0">Unsuccessful Trip</p>
          <small class="text-muted small">View now</small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
    <a href="">
      <div
        class="card rounded-4 shadow border-0 border-start border-bottom border-3 border-info"
      >
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <span class="fa-stack fs-4" style="margin-left: -5px">
              <i class="fa fa-circle fa-stack-2x text-info"></i>
              <i class="fa fa-list fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="fs-1 m-0 text-info fw-bold">5</h2>
          </div>
          <p class="card-text fw-bold mb-0">Trip Logs</p>
          <small class="text-muted small">View now</small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-6 col-xl-3">
    <a href="">
      <div
        class="card rounded-4 shadow border-0 border-start border-bottom border-3 border-warning"
      >
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <span class="fa-stack fs-4" style="margin-left: -5px">
              <i class="fa fa-circle fa-stack-2x text-warning"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h2 class="fs-1 m-0 text-warning fw-bold">5</h2>
          </div>
          <p class="card-text fw-bold mb-0">Current Passenger</p>
          <small class="text-muted small"
            >Total Passenger in Current Trip</small
          >
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row g-3 mt-2">{% include 'partial/about.html' %}</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $('.app-name').text('{{pageTitle}}');
    $('.fa-power-off').hide();
    $('#a_history').DataTable();
    $('#a_history_wrapper').addClass('table-responsive');
  });
</script>
{% endblock %}
