{% extends 'layout.html' %}
{% block title%} Edit Product {% endblock %}

{% block content %}
<div class="container pt-3">
    {% include 'msg.html' %}
    <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <div class="card">
                <div class="card-header d-flex">
                    <strong>Edit Product Form</strong>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="name" class="form-label">Product Name</label>
                                <input type="hidden" name="id" value="{{product.id}}" />
                                <input type="text" class="form-control form-control-sm" name="name" id="name"
                                    placeholder="Enter Product Name" value="{{product.name}}" />
                            </div>
                            <div class="col">
                                <label for="company" class="form-label">Company</label>
                                <input type="text" class="form-control form-control-sm" name="company" id="company"
                                    placeholder="Enter Company" value="{{product.company}}" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-4">
                                <label class="form-label">Image</label>
                                <div class="d-flex justify-content-center align-items-center rounded overflow-hidden" style="border: 2px dashed #ccc; height: 140px;">
                                    <label for="image" class="form-label">
                                        <img src="/static/images/{{product.image}}" alt="Product Image" class="w-100 h-100" id="preview"/>
                                    </label>
                                    <input type="hidden" name="oldImage" value="{{product.image}}" />
                                </div>
                                <input type="file" accept="image/*" class="visually-hidden" id="image" name="image" onchange="previewImage(event);" />
                                <label for="image" class="btn btn-outline-primary btn-sm d-block my-2">
                                    Upload Image
                                </label>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="description" class="form-label">Description</label>
                                        <textarea class="form-control form-control-sm" name="description" id="description" placeholder="Enter Product Description">{{product.description}}</textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="expire_date" class="form-label">Expire Date</label>
                                        <input type="date" class="form-control form-control-sm" name="expire_date"
                                            id="expire_date" value="{{product.expire_date}}" />
                                    </div>
                                    <div class="col-md-12">
                                        <label for="price" class="form-label">Price</label>
                                        <input type="number" class="form-control form-control-sm" name="price" id="price" placeholder="Enter Product Price" value="{{product.price}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary btn-sm order-2">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm order-1">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">&copy; 2024 PEMS</div>
            </div>
        </div>
    </div>
</div>
<script>
    function previewImage(e) {
        // console.log(e.target.files[0]);
        const file = e.target.files[0];
        const fr = new FileReader();
        fr.onload = function(img) {
            document.getElementById('preview').setAttribute('src', img.target.result);
        }
        fr.readAsDataURL(file);
    }
</script>
{% endblock %}