{% extends 'layout.html' %}{% block content %}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="{{ url_for('driver.dashboard') }}"
    >Dashboard</a
  >
  <span class="breadcrumb-item active" aria-current="page">{{pageTitle}}</span>
</nav>
<div class="row g-3">
  <div class="col-md-6 col-lg-4 col-xl-3">
    <a
      href="javascript:void(0)"
      data-bs-toggle="modal"
      data-bs-target="#passengerCrud"
    >
      <div class="card rounded-4 shadow">
        <div class="card-body d-flex align-items-center gap-3">
          <span class="fa-stack fs-4" style="margin-left: -5px">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-taxi fa-stack-1x fa-inverse"></i>
          </span>
          <div class="flex-shrink-0">
            <p class="card-text fw-bold mb-0">Add Passenger</p>
            <small class="text-muted small">Sign New Passenger In</small>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-12">
    <div class="card rounded-4 shadow">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <b>{{pageTitle}}</b>
          <div class="dropdown open">
            <a
              class="btn btn-outline-primary dropdown-toggle"
              type="button"
              id="triggerId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Filter
            </a>
            <div class="dropdown-menu" aria-labelledby="triggerId">
              <a
                class="dropdown-item"
                href="{{ url_for('driver.passengers', id=trip.id) }}"
                >All</a
              >
              <a
                class="dropdown-item"
                href="{{ url_for('driver.passengers', id=trip.id, status='signed-in') }}"
                >Signed in</a
              >
              <a
                class="dropdown-item"
                href="{{ url_for('driver.passengers', id=trip.id, status='signed-out') }}"
                >Signed out</a
              >
            </div>
          </div>
        </div>
        <hr />
        <div>
          <table
            id="passengers"
            class="table table-bordered table-hover table-responsive w-100"
            style="height: 5px !important"
          >
            <thead>
              <tr>
                <th>S/N</th>
                <th>Passenger Info</th>
                <th>Next of Kin Info</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Status</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% if passengers %} {% for passenger in passengers %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{passenger.From}}</td>
                <td>{{ passenger.to }}</td>
                <td>{{ passenger.description }}</td>
                <td>
                  <span
                    class="badge rounded-pill {% if passenger.status == 'pending' %}text-bg-info{% else %}{{passenger.status}}{% endif %}"
                    >{{passenger.status|title}}</span
                  >
                </td>
                <td>
                  {{passenger.updated_at.strftime("%a, %d %b %Y at %H:%M")}}
                </td>
                <td class="text-right">
                  <a
                    class="btn btn-primary btn-sm"
                    href="{{ url_for('driver.passengers') }}"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="View Passenger in this passenger"
                  >
                    <i class="fa fa-laptop"></i>
                  </a>
                </td>
              </tr>
              {%else%}
              <tr>
                No record found
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<div
  class="modal fade"
  id="passengerCrud"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Sign new passenger in</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="post" id="pform">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <input type="hidden" id="passenger_id" name="passenger_id" />
        <div class="modal-body px-4">
          <div class="row g-3">
            <div class="col-md-12">
              <div class="card">
                <div
                  class="card-header fw-bold d-flex align-items-center justify-content-between"
                >
                  <span>Passenger Information</span>
                  <button
                    id="startBtn"
                    class="btn btn-primary"
                    type="button"
                    disabled
                  >
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    <span class="text">Scanning...</span>
                  </button>
                </div>
                <div class="card-body">
                  <div class="" id="qr-video-con">
                    <video
                      id="qr-video"
                      disablepictureinpicture=""
                      playsinline=""
                      style="transform: scaleX(-1)"
                      width="100%"
                    ></video>
                  </div>
                  <div class="row g-3 d-none" id="pinfo">
                    <div class="col-md-6">
                      <label for="pname" class="form-label">Name:</label>
                      <input
                        type="text"
                        id="pname"
                        name="name"
                        class="form-control"
                        readonly
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="pmobile" class="form-label"
                        >Phone Number:</label
                      >
                      <input
                        type="tel"
                        class="form-control"
                        id="pmobile"
                        name="mobile"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="latitude" class="form-label">Latitude:</label>
              <input
                type="tel"
                id="latitude"
                name="latitude"
                class="form-control"
                onkeyup="$(this).val('')"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="longitude" class="form-label">Longitude:</label>
              <input
                type="tel"
                id="longitude"
                name="longitude"
                class="form-control"
                onkeyup="$(this).val('')"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="module">
  import QrScanner from "{{ url_for('static', filename='js/qr-scanner.min.js') }}";
  QrScanner.WORKER_PATH =
    "{{ url_for('static', filename='js/qr-scanner-worker.min.js') }}";

  const videoElem = document.getElementById('qr-video');
  const resultElem = document.getElementById('qr-result');
  const scanAgainBtn = $('#startBtn');
  const pform = $('#pform');

  const qrScanner = new QrScanner(videoElem, (result) => {
    let id = result.split('|&|')[1];
    fetch(`/get-passenger/${id}`)
      .then((res) => res.json())
      .then((data) => {
        if (data.err) {
          toast_it({ text: data.err, icon: 'error' });
        } else {
          pform.find('[name="passenger_id"]').val(data.id);
          pform.find('[name="name"]').val(data.name);
          pform.find('[name="mobile"]').val(data.mobile);
          // console.log(data);
        }
      })
      .catch((err) => {
        console.log(err.err);
        toast_it({ text: err.err, icon: 'error' });
      })
      .finally(() => {
        scanAgainBtn.find('.text').text('Scan Again');
        scanAgainBtn.find('.spinner-border').addClass('d-none');
        scanAgainBtn.removeAttr('disabled');
        $('#qr-video-con').addClass('d-none');
        $('#pinfo').removeClass('d-none');
        qrScanner.stop();
      });
  });
  scanAgainBtn.on('click', () => {
    scanAgainBtn.find('.text').text('Scanning...');
    scanAgainBtn.find('.spinner-border').removeClass('d-none');
    $('#qr-video-con').removeClass('d-none');
    $('#pinfo').addClass('d-none');
    scanAgainBtn.attr('disabled', true);
    qrScanner.start();
    pform[0].reset();
  });
  $('#passengerCrud')
    .on('show.bs.modal', function (event) {
      scanAgainBtn.find('.text').text('Scanning...');
      scanAgainBtn.find('.spinner-border').removeClass('d-none');
      $('#qr-video-con').removeClass('d-none');
      $('#pinfo').addClass('d-none');
      qrScanner.start();
    })
    .on('hidden.bs.modal', function (event) {
      qrScanner.stop();
      pform[0].reset();
    });
</script>
<script>
  try {
    window.onload = () => getLocation2();
    console.log(cord_pos);
  } catch (error) {
    console.log(error);
  }
  // getLocation();
  // console.log(loc_pos);

  $(document).ready(function () {
    $('.app-name').text('{{pageTitle}}');
    $('.fa-power-off').hide();
    $('#passengers').DataTable();
    $('#passengers_wrapper').addClass('table-responsive');
    console.log(cord_pos);
  });

  $('#deleteModal').on('show.bs.modal', function (event) {
    let ele = $(event.relatedTarget);
    let action = ele.data('action');
    $(this).attr('style', '');
    $(this).find('.modal-footer').show();
    if (action == 'verify') {
      const toggleElement = ele.find('.toggle-wrap');
      const status = toggleElement.hasClass('toggle-transform') ? 1 : 0;
      $(this).find('.modal-title').text('Confirmation');
      $(this).find('.modal-body').html('Are you sure to change the status?');
      $(this).find('.modal-footer').html(`
        <input type="hidden" id="status" value="${ele.data('id')}">
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">NO</button>
        <a href="/api/updata-status/Vehicle/${ele.data(
          'id'
        )}/status/${status}" class="btn btn-primary">YES</a>
      `);
      toggleElement.toggleClass('toggle-transform');
    } else {
      $(this).find('.modal-title').text('Confirmation');
      $(this).find('.modal-body').html('Are you sure you want to delete?');
      $(this).find('.modal-footer').html(`
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="hidden" name="id" value="${ele.data('id')}">
        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">NO</button>
        <button class="btn btn-primary" type="submit" name="deletePassenger">YES</button>
      </form>`);
    }
  });
  $('#deleteModal').on('hidden.bs.modal', function (event) {
    // window.location.reload();
    let ele = $(event.currentTarget);
    ele = ele.find('#status').val();
    let toggleElement = $(`#status-${ele}`);
    toggleElement.toggleClass('toggle-transform');
  });
</script>
{% endblock %}
