<div class="col-md-6">
  <div class="card rounded-4 shadow">
    <div class="card-body">
      <b>About Us</b>
      <hr />
      <p class="text-center" id="about">
        <b>{{siteName()[0]}}</b><br /><br />
        Design and Developed by
        <a
          href="javascript:void()"
          data-bs-toggle="modal"
          data-bs-target="#studentListModal"
          data-toggle="modal"
          ><b>HNDII 2024/2025</b></a
        >
        Set and Supervised by
        <b>Engr. Dr. Abdulwakil Adekunle Kasali.</b> All rights reserved. For
        Enquiry, call
        <a href="tel:+2347030337708" class="text-primary">+2347030337708</a>
      </p>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="studentListModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Developer List</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="max-height: 70vh; overflow-y: auto">
        <ul class="list-group">
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          >
            NAME
            <span class="badge bg-info badge-pill">MATRIC NO</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          >
            NAME
            <span class="badge bg-info badge-pill">MATRIC NO</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          >
            NAME
            <span class="badge bg-info badge-pill">MATRIC NO</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
