<div class="col-md-6">
  <div class="card rounded-4 shadow">
    <div class="card-body">
      <b>About Us</b>
      <hr />
      <p class="text-center" id="about">
        <b>{{siteName()[0]}}</b><br /><br />
        Design and Developed by
        <a
          href="javascript:void()"
          data-bs-toggle="modal"
          data-bs-target="#studentListModal"
          data-toggle="modal"
          ><b>HNDII 2024/2025</b></a
        >
        Set and Supervised by
        <b>Engr. Dr. Abdulwakil Adekunle Kasali.</b> All rights reserved. For
        Enquiry, call
        <a href="tel:+2347030337708" class="text-primary">+2347030337708</a>
      </p>
    </div>
  </div>
</div>
